<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dan.whatsappmy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsAppMy"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name=".activitys.ChatMulti"
            android:exported="false" />
        <activity
            android:name=".activitys.ConfirmMultiChat"
            android:exported="false" />
        <activity
            android:name=".activitys.AddMultiUser"
            android:exported="false"
            android:parentActivityName=".activitys.HomeW" />
        <activity
            android:name=".activitys.ShowImageOrVideo"
            android:exported="false" />
        <activity
            android:name=".activitys.StatusDetail"
            android:exported="false" />
        <activity
            android:name=".activitys.StatusConfirm"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activitys.ConfirmImageSend"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activitys.Chat"
            android:exported="false" />
        <activity
            android:name=".activitys.Profile"
            android:exported="false"
            android:parentActivityName=".activitys.HomeW" />
        <activity
            android:name=".activitys.HomeW"
            android:exported="false" />
        <activity
            android:name=".activitys.VerificationCode"
            android:exported="false" />
        <activity
            android:name=".activitys.CompleteInfo"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name=".receivers.ResponseReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receivers.StatusReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>